<% if @bookings.count == 0 %>
  <h1>You have no previous bookings<br>Try and make a <%= link_to "new booking", root_path %></h1>
<% else %>
  <h2>
      You have made <%= pluralize(@bookings.count, "booking") %>...
  </h2>
      <table class="table">
        <thead>
          <tr>
            <th>Booking Number:</th>
            <th>Departure Airport</th>
            <th>Destination Airport</th>
            <th>Departure Date</th>
            <th>Take-off Time</th>
            <th>No. of passengers</th>
            <th>Total Price</th>
            <th>Time of booking</th>
          </tr>
        </thead>
        <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td>00<%= booking.id %></td>
            <td><%= booking.flight.from_airport.name + ", " + booking.flight.from_airport.city %></td>
            <td><%= booking.flight.to_airport.name + ", " + booking.flight.to_airport.city %></td>
            <td><%= booking.flight.date.strftime("%d/%m/%Y") %></td>
            <td><%= booking.flight.time %></td>
            <td><%= booking.passengers.count %></td>
            <td>$ <%= booking.price %></td>
            <td><%= booking.updated_at %></td>
            <% if booking.flight.date > Time.now %>
            <td><%= link_to "Edit", edit_booking_path(booking) %></td>
            <td><%= link_to "Delete", flight_booking_path(booking.flight, booking), method: :delete, data: {confirm: "Are you sure you want to delete this booking?"} %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <h4><%= link_to "Return Home", root_path %></h4>
