
<h1>Your Flight has Been Booked!<br>
Here are your flight details below</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 booking" style="background-color: #BFD2EA">

    <h1>Flight Details</h3>
    <h3> <span class= "text-warning">Total Price: </span><strong>$ <%= @booking.price %></strong></h4>

    <h3>  <span class= "text-warning">Booking Number: </span><strong> 00<%= @booking.id %> </strong></h3>
    <h3>  <span class= "text-warning">Departure Airport: </span><strong> <%= "#{@booking.flight.from_airport.name}, #{@booking.flight.from_airport.city}" %></strong></h3>
    <h3>  <span class= "text-warning">Destination Airport: </span><strong> <%= "#{@booking.flight.to_airport.name}, #{@booking.flight.to_airport.city}" %></strong></h3>
    <h3>  <span class= "text-warning">Departure Date: </span><strong> <%= @booking.flight.date.strftime("#{@booking.flight.date.day.ordinalize} %B %Y") %></strong></h3>
    <h3>  <span class= "text-warning">Departure Time: </span><strong> <%= @booking.flight.time %> </strong></h3>
    <h3>  <span class= "text-warning">Duration: </span><strong> <%= @booking.flight.duration %> hours </strong></h3>



    <h3>Passenger details</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone number</th>
        </tr>
      </thead>

      <tbody>
        <% @booking.passengers.each do |passenger| %>
          <tr>
            <td><%= passenger.name %></td>
            <td><%= passenger.email %></td>
            <td><%= passenger.phone_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>You will receive a confirmation email soon enough</h3>
    <h4>It is now safe to close this window or you may decide<br>
    to make another booking <%= link_to "Here", root_path %>.</h4>
  </div>
</div>